/*this will show the first name, last name and address at the right side of the page.*/


#show-contact {
    display: none;
}
body {
  background-color:#424242;

  color:#424242;

}
.contact {
    cursor: pointer;
    color: #0088cc;
}
.contact: hover {
    text-decoration: underline;
}


h1 {
  color:white ;
}





p {
  color:blue;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}



#show-contact > h2 {
    color:#75CFDF;
}



.page-header > h1 > small {

  color:#75CFDF;
}
#show-contact > p {
  color:#D5217A;
}
#contacts > li > span {
  color:#D5217A;
}

.jumbotron > img {

  margin-left: 4%;
    margin-top: -2%;
    width: 63%;
  }



@media screen and (max-width: 1250px) {
  .jumbotron > img{
      display:none;
    }
}

.col-md-6 {

margin-left:8%;

}

.col-md-4 {
  margin-left:-2%;
}
